$color-white: #fff;
$color-black: #000;

// title, subtitle
$color-grey: #333;

// text
$color-lightgrey: #999;

//  services icons, photo underlay, footer link, footer btn bg
$color-lightblue: #95e1d3;

//  menu link hover, socials bg
$color-gold: #fce38a;

// title underline, socials fill, footer btn bg hover
$color-orange: #f38181;

//  footer separation line
$color-footer-greyline: #e5e5e5;

// form placeholder, footer btn border
$color-footer-grey: #e7e7e7;

// FONTS
$roboto: "Roboto", sans-serif;
$montserrat: "Montserrat", sans-serif;
$kaushan: "Kaushan Script", cursive;
