/* MAIN SECTIONS STYLES */

.section {
  padding: 0;
  margin: 0 auto;

  &__subtitle {
    font-size: 24px;
    text-align: center;
    margin-bottom: 14px;
  }

  &__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 44px;
  }

  &__title::after {
    display: block;
    content: "";
    margin: 0 auto;
    margin-top: 36px;
    width: 60px;
    height: 3px;
    background-color: $color-orange;
  }

  &__description {
    width: 81.666666%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 86px;
    line-height: 24px;
  }
}
