.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  height: 62px;
  border-top: 1px solid $color-footer-greyline;

  &__copyrigts {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: $montserrat;
  }

  &__link {
    display: inline-block;
    color: $color-lightblue;
    transition-property: color 0.2s linear;

    &:hover {
      color: $color-orange;
    }
  }

  &__form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__input-email {
    box-sizing: border-box;
    padding-left: 12px;
    width: 229px;
    height: 40px;
    border: 1px solid $color-footer-grey;
    border-right: none;
    font-family: $montserrat;

    &::placeholder {
      font-size: 15px;
      line-height: 24px;
      font-style: italic;
      color: $color-footer-grey;
    }

    &:focus {
      outline: transparent;
    }
  }

  &__button {
    border: none;
    text-transform: uppercase;
    font-family: $montserrat;
    font-size: 14px;
    font-weight: 700;
    width: 150px;
    height: 40px;
    background-color: $color-lightblue;
    color: $color-white;
    cursor: pointer;
    font-weight: bold;
    transition-property: background-color 0.2s
      linear;

    &:hover {
      background-color: $color-orange;
      transition-property: background-color 0.2s
        linear;
    }
  }
}
