.team {
  &__member {
    position: relative;
    width: 31.666666%;
    text-align: center;

    &-name {
      margin-top: 28px;
      margin-bottom: 12px;
      font-size: 14px;
      text-align: center;
    }

    &-occupation {
      font-style: italic;
      font-weight: 300;
    }
  }

  /* TEAM PIC STYLES - START */
  &__underlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 380px;
    height: 470px;
    background-color: $color-lightblue;
  }

  &__picture {
    display: block;
    width: 380px;
    height: 470px;
    z-index: 0;
    transition: transform 0.2s linear;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 470px;
    background-image: linear-gradient(
      to top,
      transparentize($color-gold, 0.1),
      transparentize($color-orange, 0.1)
    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    transition: transform 0.2s linear;
  }

  &__member:hover &__picture {
    transition: transform 0.2s linear;
    transform: translate(-10px, -10px);
  }

  &__member:hover &__overlay {
    transition: transform 0.2s linear;
    transform: translate(-10px, -10px);
    opacity: 1;
    z-index: 1;
  }
}

.socials {
  display: flex;
  justify-content: space-between;
  height: 56px;
  width: calc(56px * 4 + 3px);

  &__link {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: $color-gold;
    border: 1px solid transparent;
    transition: background-color 0.2s linear;

    &:hover {
      background-color: $color-orange;
    }
  }

  &__icon {
    display: block;
    width: 100%;
    height: 26px;
    fill: $color-orange;

    transition: fill 0.2s linear;

    &--twitter {
      height: 22px;
    }
  }

  &__link:hover &__icon {
    fill: $color-white;
  }
}

/* TEAM PIC STYLES - END */
/* TEAM STYLES END */
